@media screen and (max-width: 1199px) {
  .header_right_content ul {
    display: flex !important;
  }
}
.showHidePasswordIcon {
  left: -15px;
  float: right;
  margin-top: -35px;
  position: relative;
  z-index: 2;
}