<header>

  <div class="header_navbar_section area">
      <div class="container">
          <div class="header_navbar_wrapper">
              <div class="header_logo">
                  <a href="">
                      <img src="assets/dist/img/header_logo.png" alt="...">
                  </a>
              </div>
              <!-- /.header_logo -->
              <div class="header_right_content">
                  <ul>
                      <li class="login_label">Already a memeber?</li>
                      <li><a routerLink="/login" class="site_cta">LOGIN</a></li>
                  </ul>
              </div>
              <!-- /.header_right_content -->
          </div>
          <!-- /.header_navbar_wrapper -->
      </div>
      <!-- /.container -->
  </div>
  <!-- /.header_navbar_section -->

</header>

<main>

  <div class="hero_section area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="hero_carousel owl-carousel">
            <div class="hero_carousel_slides">
              <img src="../../assets/dist/img/slides/slides.png" alt="">
            </div>
            <div class="hero_carousel_slides">
              <img src="../../assets/dist/img/slides/slides2.png" alt="">
            </div>
            <div class="hero_carousel_slides">
              <img src="../../assets/dist/img/slides/slides3.png" alt="">
            </div>
          </div>
          <!-- /.hero_carousel owl-carousel -->
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-6 col-sm-12" *ngIf="!resetPasswordStatus">
          <div class="hero_content_wrapper">
            <div class="hero_content_inner">
              <h2 class="section_title">Reset your password</h2>
              <p>Type your new password to begin!</p>
              <form action="" class="site_form login_form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                <div class="row">
                  <div class="col-md-12">
                    <div class="inp_group">
                      <input class="form-control" [type]="show_button ? 'text' : 'password'" [ngClass]="{'is-invalid': resetPasswordForm.get('Password')?.errors && resetPasswordForm.get('Password')?.touched}" formControlName="Password" placeholder="Password">
                      <i [class]="show_eye ? 'fa fa-eye showHidePasswordIcon' : 'fa fa-eye-slash showHidePasswordIcon'" (click)="showPassword()"></i>
                    </div>
                      <!-- <small id="PasswordHelpBlock" class="form-text text-muted">At least 5 characters</small> -->
                      <div class="invalid-feedback" *ngIf="resetPasswordForm.get('Password')?.hasError('required') && resetPasswordForm.get('Password')?.touched">
                        Password is required
                      </div>
                      <div class="invalid-feedback" *ngIf="resetPasswordForm.get('Password')?.hasError('minlength') && resetPasswordForm.get('Password')?.touched">
                        Password must be at least 4 characters
                      </div>
                      <div class="invalid-feedback" *ngIf="resetPasswordForm.get('Password')?.hasError('maxlength') && resetPasswordForm.get('Password')?.touched">
                        Password cannot exceed 8 characters
                      </div><br>
                    
                  </div>
                  <div class="col-md-12">
                    <div class="inp_group">
                      <input class="form-control" [type]="showConfirm_button ? 'text' : 'password'" [ngClass]="{'is-invalid': (resetPasswordForm.get('ConfirmPassword')?.errors && resetPasswordForm.get('ConfirmPassword')?.touched) || (resetPasswordForm.get('ConfirmPassword')?.touched && resetPasswordForm.hasError('mismatch'))}" formControlName="ConfirmPassword" placeholder="Confirm Password">
                      <i [class]="showConfirm_eye ? 'fa fa-eye showHidePasswordIcon' : 'fa fa-eye-slash showHidePasswordIcon'" (click)="showConfirmPassword()"></i>
                    </div>
                    <div class="invalid-feedback" *ngIf="resetPasswordForm.get('ConfirmPassword')?.hasError('required') && resetPasswordForm.get('ConfirmPassword')?.touched">
                      Password is required
                    </div>
                    <div class="invalid-feedback" *ngIf="resetPasswordForm.get('ConfirmPassword')?.touched && resetPasswordForm.hasError('mismatch')">
                      Password must match
                    </div><br>
                  </div>
                  <div class="col-md-12">
                    <div class="inp_group" style="padding-bottom: 20px;padding-top: 20px;">
                      <span class="error-span" *ngIf="errorMsg!='' && errorMsg!=undefined">* {{errorMsg}}</span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="btn_group">
                      <button class="site_cta" type="submit">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
              <!-- /.site_form -->
            </div>
            <!-- /.hero_content_inner -->
          </div>
          <!-- /.hero_content_wrapper -->
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-6 col-sm-12" *ngIf="resetPasswordStatus">
          <div class="hero_content_wrapper">
              <div class="hero_content_inner">
                  <img src="assets/dist/img/congratulation.png" alt="">
                  <h2 class="section_title">Congratulations!</h2>
                  <p>Your password changed successfully.</p>
                  <a routerLink="/login" class="site_cta">Login</a>
              </div>
              <!-- /.hero_content_inner -->
          </div>
          <!-- /.hero_content_wrapper -->
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>

</main>
