<header>

  <div class="header_navbar_section area">
      <div class="container">
          <div class="header_navbar_wrapper">
              <div class="header_logo">
                  <a href="">
                      <img src="assets/dist/img/header_logo.png" alt="...">
                  </a>
              </div>
              <!-- /.header_logo -->
              <div class="header_right_content">
                  <ul>
                      <li class="login_label">Already a memeber?</li>
                      <li><a routerLink="/login" class="site_cta">LOGIN</a></li>
                  </ul>
              </div>
              <!-- /.header_right_content -->
          </div>
          <!-- /.header_navbar_wrapper -->
      </div>
      <!-- /.container -->
  </div>
  <!-- /.header_navbar_section -->

</header>

<main>

  <div class="hero_section area">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="hero_carousel owl-carousel">
                  <div class="hero_carousel_slides">
                    <img src="../../assets/dist/img/slides/slides.png" alt="">
                  </div>
                  <div class="hero_carousel_slides">
                    <img src="../../assets/dist/img/slides/slides2.png" alt="">
                  </div>
                  <div class="hero_carousel_slides">
                    <img src="../../assets/dist/img/slides/slides3.png" alt="">
                  </div>
                </div>
                <!-- /.hero_carousel owl-carousel -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6 col-sm-12">
                <div class="hero_content_wrapper email_verify">
                    <div class="hero_content_inner">
                        <img src="assets/dist/img/congratulation.png" alt="">
                        <h2 class="section_title">Congratulations!</h2>
                        <p><b>Your email address is now verified.</b></p>
                        <p>Your account is under verification by lab. You will be notified shortly after
                            verification of your account via email. You will be able to login after approval of
                            your account. </p>
                        <a routerLink="/login" class="site_cta">Login</a>
                    </div>
                    <!-- /.hero_content_inner -->
                </div>
                <!-- /.hero_content_wrapper -->
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.hero_section area -->
</main>
