<main>
  <div class="search_main_wrapper area">
    <div class="container">
      <div class="main_searchbar_wrapper">
        <div class="card table-responsive p-0">
          <div class="card-header">
            <h6 class="card-title">
              <i class="fa fa-users"></i>
              Payment Information
            </h6>
          </div>
          <div class="card-body">
            <div class="row" style="padding-bottom: 20px;">
              <div class="col-sm-12 col-md-6 ">
                <div class="row">
                  <label style="width: 70px; font-weight: bold;">Show </label>
                  <select style="width: 70px;" (change)="lengthChange($any($event.target).value)"
                    class="custom-select custom-select-sm form-control form-control-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  <label style="width: 80px; padding-left: 10px; font-weight: bold;"> entries </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6" style="text-align: end;">
                <label style="width: 70px; text-align: left;">Search:</label>
                <input style="width: 160px; display: inline-block;" type="search" class="form-control form-control-sm"
                  (keydown)="EnterSubmit($event)" [(ngModel)]="searchValue" (keyup)="searchClick()">
                <button style="width: 30px; margin-bottom: 2px;" type="submit" class="btn btn-sm btn-default"
                  (click)="searchClick()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <div class="row justify-content-center">
              <div *ngIf="isProcessing" class="col-12" style="text-align: center;">
                <h3>Processing...</h3>
              </div>
              <div *ngIf="!isProcessing && recordsFiltered == 0" class="col-12" style="text-align: center;">
                <h3>No data found</h3>
              </div>
              <div *ngIf="!isProcessing" class="col-12 row">
                <table class="table table-bordered table-striped ">
                  <thead>
                    <tr>
                      <th class="text-center">SL</th>
                      <th class="text-center">Payment Mode</th>
                      <th class="text-center">Payment Type</th>
                      <th class="text-center">Reference No</th>
                      <th class="text-center">Date</th>
                      <th class="text-center">Deposited Account</th>
                      <th class="text-center">Transaction Amount</th>
                      <!-- <th class="text-center">Service Charge</th> -->
                      <th class="text-center">Payment Status</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let record of tableData; let i = index">
                      <td>{{start + i}}</td>
                      <td class="text-center">{{record.Payment_Mode}}</td>
                      <td class="text-center">{{record.Payment_Type}}</td>
                      <td class="text-center">{{record.ReferenceNo}}</td>
                      <td class="text-center">{{record.TransactionDate | date : "dd-MMM-yyyy"}}</td>
                      <td class="text-center">{{record.TravelionAccount}}</td>
                      <td class="text-center">{{shareService.getTwoDecimalPoint(record.DepositedAmount)}}</td>
                      <!-- <td class="text-center">{{record.nCharge}}</td> -->
                      <td class="text-center">
                        <span [ngClass]="{
                          'pending-text': record.STATUS === 'Pending',
                          'approved-text': record.STATUS === 'Approved',
                          'declined-text': record.STATUS === 'Declined'
                        }">
                          {{ record.STATUS }}
                        </span>
                      </td>
                      <td>
                        <div class="text-center fs-18">
                          <a title="View" class="view" (click)="view(record.Id)"><i class="fa fa-eye" style=" cursor: pointer; font-weight: bold; color:#389F91; cursor: pointer;"></i></a>
                          <!-- <a *ngIf="record.iApprovalStatus != 1" title="Delete" class="delete" (click)="remove(record.vTransactionId,record.nvPaymentModeName)"> | <i class="fa fa-trash" style=" cursor: pointer; font-weight: bold; color:#8d2525; cursor: pointer;"></i></a> -->
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div *ngIf="!filteredRecordsShow">
                  Showing {{start}} to {{end}} of {{recordsTotal}} entries
                </div>
                <div *ngIf="filteredRecordsShow">
                  Showing {{start}} to {{end}} of {{recordsFiltered}} entries (filtered from {{recordsTotal}} total
                  entries)
                </div>
              </div>
              <div class="col-sm-12 col-md-6" style="text-align: end;">
                <div style="display: inline-block;">
                  <ul class="pagination">
                    <li class="page-item" *ngFor="let page of pageList" [ngClass]="page.class">
                      <a href="javascript:void(0)" aria-controls="example1" tabindex="0" class="page-link"
                        (click)="pageClick(page.value)">{{page.title}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button style="display: none;" type="button" #btnModalOpen class="btn btn-primary btn-sm float-right"
    data-bs-toggle="modal" data-bs-target="#createPassengerModal" role="dialog" data-backdrop="static"
    data-keyboard="false">
  </button>

  <div class="modal fade" id="createPassengerModal" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="createPassengerModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" style="font-weight: bold; font-size: 1.2rem;">Payment Information Details</h6>
          <button #btnClose type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            ></button>
        </div>

        <form>
          <div class="modal-body">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label class="mb-2 bold-label">Payment Mode</label>
                  <p>{{paymentDetails.Payment_Mode}}</p>
                </div>
                <div class="col-md-6 form-group">
                  <label class="mb-2 bold-label">Payment Type</label>
                  <p>{{paymentDetails.Payment_Type}}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6 form-group">
                  <label class="mb-2 bold-label">Deposite Date</label>
                  <p>{{paymentDetails.TransactionDate | date : "dd-MMM-yyyy"}}</p>
                </div>
                <div class="col-md-6 form-group">
                  <label class="mb-2 bold-label">Deposited At</label><br>
                  <p>{{paymentDetails.TravelionAccount}}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6 form-group" *ngIf="paymentDetails.BranchName != null">
                  <label class="mb-2 bold-label">Branch</label>
                  <p>{{paymentDetails.BranchName}}</p>
                </div>
                <div class="col-md-6 form-group" *ngIf="paymentDetails.OrganizationName != null && paymentDetails.OrganizationName != undefined">
                  <label class="mb-2 bold-label">Deposited From</label><br>
                  <p>{{paymentDetails.OrganizationName}}</p>
                </div>
                <div class="col-md-6 form-group">
                  <label class="mb-2 bold-label">Reference No</label><br>
                  <p>{{paymentDetails.ReferenceNo}}</p>
                </div>
                <div class="col-md-6 form-group">
                  <label class="mb-2 bold-label">Payment Status</label><br>
                  <p [ngClass]="{
                    'pending-text': paymentDetails.STATUS === 'Pending',
                    'approved-text': paymentDetails.STATUS === 'Approved',
                    'declined-text': paymentDetails.STATUS === 'Declined'
                  }">
                    {{ paymentDetails.STATUS }}
                  </p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6 form-group">
                  <label class="mb-2 bold-label">Deposited Amount</label>
                  <p>{{shareService.getTwoDecimalPoint(paymentDetails.DepositedAmount)}}</p>
                </div>
                <div class="col-md-6 form-group">
                  <label class="mb-2 bold-label">Service Charge</label><br>
                  <p>{{shareService.getTwoDecimalPoint(paymentDetails.Charge)}}</p>
                </div>
                <div class="col-md-6 form-group">
                  <label class="mb-2 bold-label">Amount Deposited</label><br>
                  <p>{{shareService.getTwoDecimalPoint(paymentDetails.AmountToBeDeposited)}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button #btnClose type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-dark"
              >
              <i class="fa fa-window-close"></i>
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
