<main>
    <div class="inner_hero_section area">
        <div class="container">
            

            <div class="inner_searchbar">
                <form action="" class="site_form">
                    <!-- <div class="searchbar_options">
                        <div class="inp_group">
                            <label for="">TRIP TYPE</label>
                            <select name="" id="">
                                <option value="">Oneway</option>
                                <option value="">Round Trip</option>
                                <option value="">Multi City</option>
                            </select>
                        </div>
                    </div>
                    <div class="searchbar_options searchbar_dest">
                        <div class="exchange_wrapper">
                            <img src="assets/img/icons/exchange.svg" alt="">
                        </div>
                        <div class="inp_group">
                            <label for="">FROM</label>
                            <select name="" id="">
                                <option value="">Delhi</option>
                                <option value="">Delhi</option>
                                <option value="">Delhi</option>
                            </select>
                        </div>
                        <div class="inp_group">
                            <label for="">TO</label>
                            <select name="" id="">
                                <option value="">Bangalore</option>
                                <option value="">Bangalore</option>
                                <option value="">Bangalore</option>
                            </select>
                        </div>
                    </div>
                    <div class="searchbar_options searchbar_sched">
                        <div class="inp_group">
                            <label for="">DEPARTURE</label>
                            <select name="" id="">
                                <option value="">Mon, 18 Sep'21</option>
                                <option value="">Mon, 18 Sep'21</option>
                                <option value="">Mon, 18 Sep'21</option>
                            </select>
                        </div>
                        <div class="inp_group">
                            <label for="">RETURN</label>
                        </div>
                    </div>
                    <div class="searchbar_options searchbar_trav">
                        <div class="inp_group">
                            <label for="">TRAVELLERS &amp; CLASS</label>
                            <select name="" id="">
                                <option value="">1 Adult, Economy</option>
                                <option value="">1 Adult, Economy</option>
                                <option value="">1 Adult, Economy</option>
                            </select>
                        </div>
                    </div>
                    <div class="searchbar_options searchbar_faretype">
                        <div class="inp_group">
                            <label for="">Fare Type</label>
                            <select class="inp_field" name="" id="">
                                <option value="">Show all</option>
                                <option value="">less</option>
                                <option value="">more</option>
                            </select>
                        </div>
                    </div>
                    <div class="searchbar_options form_submit_btn">
                        <button class="site_cta orange_cta" type="submit">SEARCH</button>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
    <!-- /.inner_hero_section -->
    <div class="flight_search_result_section area">
        <div class="container">
            <div class="col content-info">
                <div class="row content-title">
                    <div class="notice-title" [innerHTML]="contentTitle">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="notice-content" [innerHTML]="contentText">
                        
                    </div>
                    <!-- /.col-lg-9 col-sm-12 -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.flight_search_result_section area -->

</main>