.suggestion-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }
  
  .suggestion-label {
    font-size: 12px;
    font-weight: bold;
    color: #E97017;
  }
  
  .suggestion-message {
    font-size: 10px;
    color: #E97017;
  }
  .ng-autocomplete {
    display: table;
    margin: 0 auto;
    width: 170px;
  }
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    line-height: 45px;
    height: 45px;
    padding: 0 16px;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
  }
  span {
    margin-left: 5px;
  }
  
  .panel-hover:hover{
    background-color: #ebebeb;
  }
  
  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  
  #curserhoverFrom:hover{background-color:#c0d8fa;}
  #curserhoverTo:hover{background-color:#c0d8fa;}
  #curserhoverdeparturedate:hover{background-color:#c0d8fa;}
  #curserhoverreturndate:hover{background-color:#c0d8fa;}
  #curserhoverTravellers:hover{background-color:#c0d8fa;}
  
  
  .search_form_top .inp_group .form-group label{
    padding: 0px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .search_form_top .inp_group .form-group h5{
    font-weight: 900;
    font-size: 27px;
    line-height: 1.3;
    color: #111528;
    margin: 0;
  }
  
  .search_form_top .inp_group .form-group h5 span{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: #111528;
    margin: 0;
  }
  
  .search_form_top .inp_group .form-group p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: -1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  element.style {
    transform: translate(-5px, 33px) !important;
  }
  .traveller-class-font{
    font-weight: bold;
  }
  .traveller-class-child-select{
    border: 1px solid #000;
    padding: 2 px;
    text-align: center;
    padding-left: 8px;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: normal;
    width: 42px;
    padding-right: 10px;
  }
  .traveller-class-child-list{
    /* border: 1px solid #eee; */
    justify-content: start;
    border-bottom: 0px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    /* border-radius: 50px; */
  }
  .traveller-class-child-label{
    font-size: 13px;
  }
  .traveller-class-child-div{
    padding-left: 3px;
    padding-right: 3px;
  }
  .traveller-class-label{
    font-size: 14px;
    color: #000;
    font-weight: 600;
    display: flex;
    justify-content: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .traveller-label{
    font-size: 20px;
    display: flex;
    justify-content: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .traveller-economy-label{
    display: flex;
    justify-content: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .inp_group_traveller{
    position: absolute;
    top: 10%;
  }
  .traveller-class-optiongp{
    font-weight: 600;
    padding-left: 5px;
  }
  