<div id="flightProposal">
    <div class="container">
        <div id="headInfo">
            <table style="    font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;">
                <tr>
                    <th style=" border: 1px solid #ddd;
                    padding: 8px;padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    color: #000;width: 10%;border-style: none;"><img style="width: 50px;height: 60px;" src="../../../assets/dist/img/add1.jpg" alt="..."></th>
                    <th style=" border: 1px solid #ddd;
                    padding: 8px;padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    color: #000;width: 30%;border-style: none;">
                        <table style="    font-weight: 100;
                        font-size: 12px;
                        font-family: sans-serif;border-style: none;">
                            <tr><td style="font-size: 14px;font-weight: bold;">Move on</td></tr>
                            <tr><td>Chittagong</td></tr>
                            <tr><td>Bangladesh</td></tr>
                        </table>
                    </th>
                    <th style=" border: 1px solid #ddd;
                    padding: 8px;padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    color: #000;width: 60%;border-style: none;font-size: 20px;">Flight Proposal</th>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <p style="font-size: 18px;
            font-weight: bold;">Flight Information</p>
            <table style="    font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;">
            <tr>
              <th style=" border: 1px solid #ddd;
                padding: 8px;padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                color: #000;width: 33.3%;">Travellers</th>
                        <th style=" border: 1px solid #ddd;
                        padding: 8px;padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                color: #000;width: 33.3%;">Class</th>
                        <th style=" border: 1px solid #ddd;
                        padding: 8px;padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                color: #000;width: 33.3%;">Trip Type</th>
            </tr>
            <tr>
              <td style=" border: 1px solid #ddd;
              padding: 8px;">{{data.audlt}} Persons</td>
              <td style=" border: 1px solid #ddd;
              padding: 8px;">Economy</td>
              <td style=" border: 1px solid #ddd;
              padding: 8px;">Oneway</td>
            </tr>
          </table>
        <table style="    font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;">
            <tr>
              <th style=" border: 1px solid #ddd;
                padding: 8px;padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                color: #000;width: 33.3%;">Flying from</th>
                        <th style=" border: 1px solid #ddd;
                        padding: 8px;padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                color: #000;width: 33.3%;">Flying to</th>
                        <th style=" border: 1px solid #ddd;
                        padding: 8px;padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                color: #000;width: 33.3%;">Departure date</th>
            </tr>
            <tr>
              <td style=" border: 1px solid #ddd;
              padding: 8px;">Chittagong</td>
              <td style=" border: 1px solid #ddd;
              padding: 8px;">Dhaka</td>
              <td style=" border: 1px solid #ddd;
              padding: 8px;">10 Mar 2022</td>
            </tr>
          </table>
        </div>
        <br>
        <div>
            <div id="flightTable">
                <table style="    font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;">
                <tr>
                <th style=" border: 1px solid #ddd;
                    padding: 8px;padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    color: #000;width: 50%;">DAC-CXB</th>
                            <th style=" border: 1px solid #ddd;
                            padding: 8px;padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    color: #000;width: 50%;"></th>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">Biman bangladesh airlines, BG121</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">00h 45m</td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">DAC, Hazrat Shahjalal international airport</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">CGP, Shah Amanat International Airport</td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">19:45, Apr 26, 2022</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">20:30 Apr 26,2022</td>
                </tr>
                </table>
            </div>
        </div>
        <br>
        <div>
            <p style="font-size: 18px;
            font-weight: bold;">Price Summary</p>
            <div id="priceSummary">
                <table style="    font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;">
                <tr>
                <th style=" border: 1px solid #ddd;
                    padding: 8px;padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    color: #000;width: 25%;">Details</th>
                            <th style=" border: 1px solid #ddd;
                            padding: 8px;padding-top: 12px;
                    padding-bottom: 12px;
                    text-align: left;
                    color: #000;width: 25%;">Amount</th>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;font-weight: bold;">Adult(2)</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;"></td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">Base Fare</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">3,052.50</td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">Tax</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">725</td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;font-weight: bold">Child(2)</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;"></td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">Base Fare</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">2,290.50</td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">Tax</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">725</td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;font-weight: bold">Infant(2)</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;"></td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">Base Fare</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">305</td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">Tax</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">196</td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;font-weight: bold">Total Amount</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;font-weight: bold">BDT 14,589</td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">Discount</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;">BDT 565</td>
                </tr>
                <tr>
                <td style=" border: 1px solid #ddd;
                padding: 8px;font-weight: bold">Total  Payable</td>
                <td style=" border: 1px solid #ddd;
                padding: 8px;font-weight: bold">BDT 14,024</td>
                </tr>
                </table>
            </div>
        </div>
       

    </div>
    <!-- /.container -->
</div>
