/* UI Bootstrap Demo */
.ui-bootstrap-carousel {
  width:400px;
  height:200px;
  margin-left:20px;
}
.ui-bootstrap-carousel img {
  width:400px;
}
/* angular-carousel Demo */
.angular-carousel {
  width:400px;
  height:200px;
  margin-left:20px;
}
@media screen and (max-width: 1199px) {
  .header_right_content ul {
    display: flex !important;
  }
}
