<header>

  <div class="header_navbar_section area">
      <div class="container">
          <div class="header_navbar_wrapper">
              <div class="header_logo">
                  <a href="">
                      <img src="assets/dist/img/header_logo.png" alt="...">
                  </a>
              </div>
              <!-- /.header_logo -->
              <div class="header_right_content">
                  <ul>
                      <li class="login_label">Already a memeber?</li>
                      <li><a routerLink="/login" class="site_cta">LOGIN</a></li>
                  </ul>
              </div>
              <!-- /.header_right_content -->
          </div>
          <!-- /.header_navbar_wrapper -->
      </div>
      <!-- /.container -->
  </div>
  <!-- /.header_navbar_section -->

</header>

<main>

  <div class="hero_section area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="hero_carousel owl-carousel">
            <div class="hero_carousel_slides">
              <img src="../../assets/dist/img/slides/slides.png" alt="">
            </div>
            <div class="hero_carousel_slides">
              <img src="../../assets/dist/img/slides/slides2.png" alt="">
            </div>
            <div class="hero_carousel_slides">
              <img src="../../assets/dist/img/slides/slides3.png" alt="">
            </div>
          </div>
          <!-- /.hero_carousel owl-carousel -->
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-6 col-sm-12" *ngIf="!forgotPasswordStatus">
          <div class="hero_content_wrapper">
            <div class="hero_content_inner">
              <h2 class="section_title">Forgot Password</h2>
              <p>Type your email to get the password reset link</p>
              <form class="site_form login_form" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                <div class="row">
                  <div class="col-md-12">
                    <input class="form-control" type="email" [ngClass]="{'is-invalid': forgotPasswordForm.get('Email')?.errors && forgotPasswordForm.get('Email')?.touched}" formControlName="Email" placeholder="Email">
                    <div class="invalid-feedback" *ngIf="forgotPasswordForm.get('Email')?.hasError('required') && forgotPasswordForm.get('Email')?.touched">
                      Please choose a Email
                    </div>
                    <div class="invalid-feedback" *ngIf="forgotPasswordForm.get('Email')?.hasError('Email') && forgotPasswordForm.get('Email')?.touched">
                      Please provide valid Email
                    </div>
                    <br>
                  </div>
                  <div class="col-md-12">
                    <div class="btn_group">
                      <button class="site_cta" type="submit">Submit</button>
                    </div>
                  </div>
                </div>
              </form>
              <!-- /.site_form -->
            </div>
            <!-- /.hero_content_inner -->
          </div>
          <!-- /.hero_content_wrapper -->
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-6 col-sm-12" *ngIf="forgotPasswordStatus">
          <div class="hero_content_wrapper">
            <div class="hero_content_inner">
              <h2 class="section_title">Request Sent</h2>
                <p>We sent a reset password email to <b>{{ forgotPasswordForm.get('Email')?.value }}</b>. Please click the reset password link to set your new password. </p>
                <a routerLink="/login" class="site_cta">Login</a>
            </div>
            <!-- /.hero_content_inner -->
          </div>
          <!-- /.hero_content_wrapper -->
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.hero_section area -->
</main>
