.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 55px;
  padding-left: 6px !important;
  padding-top: 10px !important;
  user-select: none;
  -webkit-user-select: none;
}
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
